.courseinfo {
  margin-top: 10px;  
}

.subsection {}

.subsection-label {
  color: var(--MV-dark-teal);
  background-color: var(--MV-white);
  font-weight: bold;
  border: 1px solid var(--MV-dark-teal);
  border-radius: 6px;
  padding: 1px 4px;
}

.subsection-message {
  margin-top: -6px;
}

table {
  margin: 4px 4px;
}

table, td, th {
  border: 1px solid var(--MV-light-gray);
  border-collapse: collapse;
}

th {
  text-align: left;
  background-color: var(--MV-light-gray);
  color: var(--MV-white);
}
