.instructor-info {
  width: 500px;
  border: 1px solid var(--MV-dark-teal);
  background-color: var(--MV-white);
  border-radius: 6px;
  overflow: auto;
  margin-bottom: 10px;
}

.instructor-info-section {
  margin-left: 10px;
}

.instructor-info-label {
  font-style: italic;   
}

.instructor-info-photo {
  width: 93px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.instructor-info-name {
  font-size: 14px;
  font-weight: bold;
}
