.label {
  margin-right: 6px;
}

.courseinfo {
  margin-top: 10px;  
}

table, td, th {
  border: 1px solid var(--MV-light-gray);
  border-collapse: collapse;
}

th {
  text-align: left;
  background-color: var(--MV-light-gray);
  color: var(--MV-white);
}

